button.main {
    display: block;
    margin: 10px 5px 10px 5px;
    color: black;
    width: 95%;
    height: 120px;
    font-size: 4em;
}
.result {
    border: 1px grey solid;
}
input {
    width: 90%;
}
.grey {
    color: blue;
}
.blah {
    font-size: 1.75em;
}
